@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #e0fbfc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
ul,
li {
  margin: 0;
  padding: 0px;
}

.active {
  color: #ee6c4d;
}
